<div class="container">
    <canvas id="fabricCanavs"></canvas>
  
    <mat-card class="toolBar">
        <!-- <button   [class.active]="currentTool =='panzoom'" matTooltip="PanTool" (click)="onToolChange('panzoom')" class="btn">
            <i class="fa-solid fa-hand"></i>
        </button> -->
        <!-- <button  [class.active]="currentTool =='perfect'" matTooltip="Hand Draw" (click)="onToolChange('perfect')"
        class="btn">
        <i class="fa-solid fa-hand-point-up"></i>
       </button> -->
        <button class="btn" [class.active]="activeTool(currentTool,tool.tools)" [matMenuTriggerFor]="toolMenu"
            *ngFor="let tool of toolsList">
            <i [ngClass]="tool.icon" class="fa-solid "></i>
            <mat-menu class="menu" overlayPanelClass="panelClass" #toolMenu="matMenu">
                <div class="tools">
                    <button *ngFor="let tool of tool.tools" (click)="onToolChange(tool.toolCode)"
                        [matTooltip]="tool.name" [class.activeTool]="currentTool ==tool.toolCode">
                        <i [ngClass]="tool.icon"></i>
                    </button>
                </div>
            </mat-menu>
        </button>

        <button [class.active]="currentTool =='eraser'" matTooltip="Eraser" (click)="onToolChange('eraser')"
            class="btn">
            <i class="fa-solid fa-eraser"></i>
        </button>
        <button [class.active]="currentTool =='text'" matTooltip="Text" (click)="onToolChange('text')" class="btn">
            <i class="fa-solid fa-font"></i>
        </button>

        <input #imageInput class="hidden" type="file" accept="image/*" (change)="handleFileInput($event)">
        <button matTooltip="Add Image" (click)="imageInput.click()" class="btn">
            <i class="fa-solid fa-image"></i>
        </button>
        <button id="colorBtn" [ngStyle]="{ backgroundColor  :selectedColor}" [matMenuTriggerFor]="colorMenu"
            aria-label="Example icon-button with a menu">

        </button>
        <mat-menu class="menu" #colorMenu="matMenu">
            <div class="colors">
                <button (click)="updateToolColor(color)" id="colorBtn" [ngStyle]="{ backgroundColor  :color}"
                    *ngFor="let color of colors"></button>
            </div>
        </mat-menu>

    </mat-card>

    <mat-card id="buttonContainer">
        <div class="textProp">
            <button id="colorBtn" [ngStyle]="{ backgroundColor  :this.evntListner.activeObject?.fill}"
                [matMenuTriggerFor]="textColor" aria-label="Example icon-button with a menu">
            </button>
            <mat-menu class="menu" #textColor="matMenu">
                <div class="colors">
                        <button (click)="updateTextColor(color)" id="colorBtn" [ngStyle]="{ backgroundColor  :color}"
                            *ngFor="let color of colors"></button>
                </div>
            </mat-menu>

     
             <select #fontFamily (change)="changeFontFamily(fontFamily.value)"
                [value]="this.evntListner.activeObject?.fontFamily">
                <option *ngFor="let ff of fontFamilies">{{ff}}</option>
            </select> 
            <select #fontSize (change)="changeFontSize(fontSize.value)"
            [value]="this.evntListner.activeObject?.fontSize">
            <option *ngFor="let fs of fontSizes">{{fs}}</option>
        </select> 
            
        </div>
    </mat-card>
    <mat-card class="zoomBar">
        <button  matTooltip="Zoom in" (click)="onZoom(-10)"
        class="fbtn">
        <i class="fa-solid fa-plus"></i>
    </button>
    <button  matTooltip="Zoom out" (click)="onZoom(10)" class="fbtn">
        <i class="fa-solid fa-minus"></i>
    </button>
    </mat-card>
</div>