/* You can add global styles to this file, and also import other style files */
*,*::after,*::before{
    padding: 0px;
    margin: 0px;
}
body {
    overflow: hidden; /* Hide scrollbars */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.hidden{
  display: none;
}
 .menu {
  left: 54px !important;
  position: absolute;
}
::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 100%!important;
}
.panelClass{
  width: 50px;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");